@use 'mixins' as *;
@use 'variables' as *;

.is-hidden {
  display: none !important;
}

.is-hide {
  opacity: 0;
}

.for-desktop {
  @include mobile {
    display: none !important;
  }
}

.for-mobile {
  @include desktop {
    display: none !important;
  }
}
