// COLORS
$color-red: #ff5f5f;
$color-bg: #0b0b0b;
$color-panel: #111111;
$color-border: #4b4b4b;
$color-text: #f2f2f2;
$color-text-muted: rgba(242, 242, 242, 0.7);
$color-accent: #2c5c85;

// FONTS
$font-roboto-serif: 'RobotoSerif', sans-serif;
$font-roboto-condensed: 'RobotoCondensed', sans-serif;
$font-base: $font-roboto-condensed;

// URL
$url-font: '../assets/fonts/';
